*{
    margin: 0;
}
.ant-account_info{
    padding: 8px;
    float: right;
    color: white;
    font-size: 14px;
    text-align: center;
}

.circular_account{
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #87D068;
}
img{
    height: 100%;
    width: 100%;
}
